@import url(./fonts.css);

:root {
  --font-main: "Montserrat";
  --font-second: "Inter";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,
ul {
  padding-left: 0;
}

li {
  list-style: none;
}

body {
  font-family: var(--font-main);
  padding-left: 140px;
  overflow-x: hidden;
}


body::-webkit-scrollbar {
  width: 5px;
}


body::-webkit-scrollbar-thumb {
  background-color: #0094CB;
  border-radius: 6px;
}




.container {
  max-width: 1400px;
  width: 100%;
  padding-right: 70px;
  margin: 0 auto;
  position: relative;
}

/* ----- side bar ------- */
.sidebar-logo {
  height: 60px;
  width: 60px;
  object-fit: contain;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  padding: 35px 20px;
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  margin: 0 auto;
}

.sidebar-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-icons i {
  background: #aaaaaa;
  border-radius: 71px;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  margin-bottom: 20px;
  transition: all 0.5s ease-out;
}

.sidebar-icons i:hover {
  transform: scale(1.2);
}

.header-nav {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 18px;
  align-items: center;
  flex-wrap: wrap;
}

.header-title {
  font-size: 19px;
  font-weight: 400;
  color: #05071c;
  text-transform: uppercase;
}

.header-title span {
  font-weight: 700;
}

.header-title:hover {
  text-decoration: underline;
}

.header-link {
  font-size: 20px;
  color: #05071c;
  position: relative;
  text-transform: uppercase;
}

.header-link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  transition: 150ms;
  height: 2px;
}

.header-link:hover::after {
  background-color: #05071c;
}

.dropdown-center {
  width: 70px;
}

.dropdown-center button {
  font-family: "Montserrat";
  font-size: 20px;
  width: 70px !important;
}

.dropdown-center button:hover {
  color: #333;
  background-color: #e6e6e6;
}

.dropdown-menu {
  --bs-dropdown-min-width: 70px !important;
  text-align: center;
}


/* ----------- header banner ------- */

.header-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
  padding: 0 15px;
}

.banner-left,
.banner-right {
  width: 100%;
  box-sizing: border-box;
}

.banner-left {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid #c4c4c4;
  height: 700px;
  position: relative;
  overflow: hidden;
}

.left-animation {
  width: 1800px;
  height: 3000px;
  position: absolute;
  object-fit: contain;
  top: 50%;
  left: 10px;
  transform: translate(-50%, -50%);
}

.left-img {
  margin-bottom: 100px;
}

.banner-right {
  position: relative;
  color: white;
}

.right-content {
  position: absolute;
  width: 70%;
  left: 50px;
  bottom: 70px;
  color: #fff;
  padding: 30px 50px;
}

.right-title {
  font-size: 50px;
}

.right-desc {
  font-size: 20px;
}

.right-desc span {
  font-weight: 700;
}

.right-video {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  height: 700px;
}

/* --------- history --------- */
.main-history {
  margin-top: 100px;
  position: relative;
}

.history-title {
  color: #0094cb;
  font-size: 40px;
}

.history-subtitle {
  color: #05071c;
  font-size: 24px;
  font-weight: 400;
  margin-top: 10px;
}

.history-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  min-height: 190px;
  height: 100%;
  border: 1px solid #dadada;
  padding: 40px;
  margin-top: 30px;
  position: relative;
}

.card-desc {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #090a0d;
}

.card-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* -------- main-timeline -------- */
.main-timeline {
  margin-top: 130px;
  position: relative;
}

.main-timeline:after {
  content: '';
  background: url("../img/test-side.png") no-repeat;
  max-width: 1240px;
  width: 100%;
  height: 1575px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 750px;
  background-size: cover;
  background-position: center;
}

.timeline-svg {
  position: absolute;
  top: 0;
  right: 0;
  overflow-x: visible;
}

.timeline-title {
  color: #0094cb;
  font-size: 40px;
  text-align: center;
  margin-right: auto;
  font-weight: 700;
}

.timeline-subtitle {
  color: #090a0d;
  font-size: 24px;
  text-align: center;
}

.timeline-steps {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  margin-bottom: 80px;
  width: 70%;
}

.timeline-steps1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 70%;
  position: relative;
  margin-top: -15px;
}

.timeline-steps1::after {
  content: '';
  position: absolute;
  bottom: 23%;
  left: 0;
  background: url(../img/line-start.png) no-repeat;
  width: 100%;
  height: 100%;
}

.timeline-steps1 .timeline-step:nth-child(4) .dot::after {
  width: 50px;
}

.timeline-steps1 .timeline-step:nth-child(1) .dot::before {
  content: "";
  position: absolute;
  background: url(../img/line.png);
  top: calc(10% + 60px);
  right: 0;
  height: 2px;
  width: 230px;
  z-index: -1;
}


/* 
.timeline-steps::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  background: url(../img/line.png) repeat-x;
  width: 85%;
  height: 2px;
  transform: translate(-50%, -50%);
} */

.timeline-line::after {
  content: '';
  position: absolute;
  bottom: 50;
  left: 50%;
  background: url(../img/line.png) repeat-x;
  width: 85%;
  height: 2px;
  transform: translate(-50%, -50%);
}



.timeline-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.desc {
  font-size: 23px;
  line-height: 28px;
  font-family: "Inter";
  margin-bottom: 21px;
  text-align: center;
}

.dot {
  display: table;
  background-image: linear-gradient(171deg,
      #0094cb 0%,
      #4acf78 71%,
      #0094cb 100%);
  border-radius: 50%;
  width: 19px;
  height: 19px;
  /* position: relative; */
}

.dot::after {
  content: "";
  position: absolute;
  background: url(../img/line.png);
  top: calc(10% + 60px);
  height: 2px;
  width: 100%;
  z-index: -1;
}

.timeline-steps .timeline-step:nth-child(3) .dot::after {
  content: '';
  position: absolute;
  background: url(../img/line-end.png) no-repeat;
  top: calc(10% + 60px);
  /* left: 50%; */
  width: 60px;
  margin-left: 75px;
  height: 100%;
}

.timeline-step:nth-child(3) .dot::before {
  content: '';
  position: absolute;
  background: url(../img/line.png) repeat-x;
  top: calc(10% + 60px);
  right: 80px;
  width: 80px;
  margin-left: 180px;
  height: 2px;
  z-index: -1;
}

.year {
  font-family: "Inter";
  font-size: 24px;
  line-height: 29px;
  color: #0094cb;
  margin-top: 20px;
}

.info {
  font-family: "Inter";
  line-height: 24px;
  letter-spacing: -0.7%;
  color: #090a0d;
  text-align: center;
  margin-top: 10px;
  text-overflow: ellipsis;
  padding: 0 50px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
  overflow: hidden;
}



/* --------- chart ----------- */
.main-chart {
  position: relative;
  margin-top: 100px;
}

.main-chart::before {
  content: '';
  background: url("../img/left_side.png") no-repeat;
  max-width: 1166px;
  width: 100%;
  height: 1166px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-left: -80%;
  overflow: visible;
  background-size: cover;
  background-position: center;
}

.chart-content {
  /* max-width: 70%; */
  margin: 0 auto;
  padding-left: 150px;
}

.chart-title {
  color: #0094cb;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.chart-subtitle {
  text-align: right;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

#myChart {
  margin-top: 80px;
  width: 100%;
  height: 300px;
}

.mobile-chart {
  display: none;
}

.chart-apr {
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 140px;
  justify-content: space-between;
}

.apr-title {
  color: #0094cb;
  font-size: 40px;
  font-weight: 700;
  text-align: right;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

.apr-title span {
  font-weight: 400;
  font-size: 24px;
  color: #090a0d;
}

.apr-steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  position: relative;
}

.apr-steps::before {
  content: '';
  background: #52B8DE;
  position: absolute;
  height: 2px;
  width: 100%;
  top: -35px;
}

.step-li {
  position: relative;
  display: flex;
  flex-direction: column;
}

.step-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.step-li::after {
  content: '';
  position: absolute;
  background: url(../img/step_before.svg) no-repeat;
  height: 100%;
  width: 100%;
  top: -80px;
  left: -10px;
}

.step-title {
  color: white;
  font-size: 24px;
  line-height: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 41px;
  margin-bottom: 15px;
  background: linear-gradient(247deg, #0094cb 0%, #96dccb 100%);
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.step-li span {
  float: right;
}

.step-right {
  height: 46px;
  width: 46px;
  object-fit: contain;
  margin: 16px 0;
}

.step-link {
  width: 46px;
  height: 46px;
}

.step-desc {
  font-size: 24px;
  line-height: 29px;
}

.step-img {
  width: 46px;
  height: 46px;
}

/*-------- news ---------*/

.main-news {
  margin: 150px 0;
}

.news-title {
  font-size: 40px;
  color: #0094cb;
  font-weight: 700;
  margin-bottom: 50px;
  display: inline-block;
  position: relative;
}

.news-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #0094cb;
  transition: 200ms;
  left: 0;

}

.news-title:hover::after {
  background: transparent;
}

.news-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  overflow: hidden;
}

.news-card {
  filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.16));
  border-radius: 20px;
  border: 1px solid #E1E1E1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.news-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100%;
}

.news-img {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.card-content {
  background-color: #fff;
  padding: 35px 30px;
  margin-top: -30px;
  z-index: 2;
  border-radius: 20px;
  max-height: 330px;
  position: relative;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-timeInfo {
  color: #7E7E7E;
  font-size: 37px;
  font-weight: 700;
  text-align: center;
  border: 3px solid #707070;
  max-width: 80px;
  width: 100%;
  padding: 10px;
  padding-top: 5px;
  min-height: 80px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
}

.card-timeInfo span {
  font-size: 20px;
  color: #05071c;
  text-transform: uppercase;
}

.card-tit {
  font-size: 16px;
  font-weight: 600;
  margin-left: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  color: #05071c;
}

.card-tit:hover {
  text-decoration: underline;
}

.card-descr {
  font-weight: 300;
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
}

.card-extra {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.card-time {
  font-size: 20px;
}

.card-extraLink {
  border-bottom: 1px solid transparent;
  font-size: 18px;
  color: #013E8D;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin-bottom: 0;
  display: flex;
}


.card-extraLink:hover {
  border-bottom: 1px solid #013E8D;
}

/* -------- main - projects ----------- */
.main-projects {
  /* background: url("../img/footer.png"); */
  background-size: cover;
  background-position: center;
  position: relative;
  /* height: 900px; */
  width: 100%;
}

.projects-img {
  height: 900px;
  width: 100%;
}


.main-projects::after {
  content: '';
  background: url(../img/dg.png) no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}


.project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-info:nth-child(3) {
  margin-left: 50px;
}

.info-number {
  color: #0094cb;
  font-size: 69px;
  font-weight: 700;
}

.info-span {
  font-size: 19px;
  color: #0094cb;
  font-weight: 400;
}

/* ------------ footer ----------- */
.footer {
  text-align: center;
}


.footer-title {
  color: #05071C;
  font-size: 19px !important;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.footer-title span {
  font-weight: 700;
}

.footer-title:hover {
  text-decoration: underline;
}

.footer-imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: 0 auto;
  margin-top: 60px;
  align-items: center;
  margin-bottom: 30px;
}

.footer-img {
  object-fit: contain;
  max-width: 300px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.footer-img:hover {
  transform: scale(1.1);
}

.footer-copy {
  font-size: 20px;
  text-align: center;
  color: #0C0C0C;
  text-align: center;
}

.footer-desc {
  margin-top: 30px;
  font-size: 16px;
  color: #0C0C0C;
  text-align: center;
}


/* ------ mobile -step ----- */
.timeline-mobile {
  flex-direction: column;
  align-items: center;
  display: none;
}

.timeline-mobile img {
  width: 100%;
  max-height: 700px;
  object-fit: contain;
}

.mobile-steps {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  max-width: calc(100% - 40px);
  margin-bottom: 20px;
  position: relative;
}


.mobile-step {
  display: flex;
  flex: 0 0 auto;
  width: 33%;
  margin-right: 20px;
  flex-direction: column;
  align-items: center;
}


.mobile-desc {
  font-size: 23px;
  line-height: 28px;
  font-family: "Inter";
  margin-bottom: 21px;
  text-align: center;
}

.mobile-dot {
  display: table;
  background-image: linear-gradient(171deg,
      #0094cb 0%,
      #4acf78 71%,
      #0094cb 100%);
  border-radius: 50%;
  width: 19px;
  height: 19px;
  position: relative;
}

.mobile-year {
  font-family: "Inter";
  font-size: 24px;
  line-height: 29px;
  color: #0094cb;
  margin-top: 20px;
}

.mobile-info {
  font-family: "Inter";
  line-height: 24px;
  letter-spacing: -0.7%;
  color: #090a0d;
  text-align: center;
  margin-top: 10px;
  text-overflow: ellipsis;
  padding: 0 20px;
}

.mobile-dot::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  background: url(../img/line.png) repeat-x;
  height: 2px;
  width: 300px;
  z-index: -1;
}

/* mobile header */
.header-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  display: none;
}

.header-mobile div {
  display: flex;
  align-items: center;
}

.mobile-title {
  font-size: 19px;
  font-weight: 400;
  margin-left: 15px;
  text-transform: uppercase;
}

.mobile-title span {
  font-weight: 700;
}

.header-mobile button {
  border: none;
  background: #0094cb;
  margin-right: 20px;
  padding: 15px;
  border-radius: 8px;
}

.mobile-banner {
  position: relative;
  overflow: hidden;
  margin-top: 15px;
  display: none;
}

.mobile-content {
  position: absolute;
  bottom: 0px;
  left: 0;
  color: white;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
  padding: 20px;
  overflow: hidden;
}

.mobile-tit {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 10px;
}

.mobile-desc {
  font-size: 20px;
  text-align: justify;
}

.mobile-desc i {
  font-weight: 700;
  font-style: normal;
}

.menu-container {
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.lang-btns {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-top: 40px;
}

.lang-btn {
  color: #0094cb;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  border: 1px solid #DADADA;
  border-radius: 6px;
  background: transparent;
  padding: 7px 15px;
}

.lang-btn-active {
  background: #0094CB;
  color: white;
}

.mobile-links li {
  position: relative;
  margin-top: 25px;
}


.mobile-link {
  color: #1E293B;
  font-size: 22px;
  font-weight: 600;
  position: relative;
}

.mobile-links li::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #DADADA;
}

.mobile-icons {
  margin-top: 30px;
  display: inline-block;
}

.mobile-icons a {
  background: var(--liner, linear-gradient(90deg, #0094CB -19.55%, #96DCCB 100%));
  line-height: 40px;
  height: 40px;
  border-radius: 50%;
  width: 40px;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  transition: all linear 0.2s;
}

.mobile-projects {
  display: none;
  height: 800px;
  position: relative;
  margin-bottom: 50px;

}

.mobile-projects::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url(../img/footer-mobile.png) no-repeat center;
  width: 100%;
  height: 1200px;

}

.mobilepro-img {
  width: 100%;
  object-fit: cover;
}


/* test  */
.test-timeline {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}

.test-step {
  font-family: "Inter";
  font-weight: 700;
  text-align: center;
}

.test-li {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  width: 100%;
  position: relative;
}

.test-dot {
  display: table;
  background-image: linear-gradient(171deg,
      #0094cb 0%,
      #4acf78 71%,
      #0094cb 100%);
  border-radius: 50%;
  width: 19px;
  height: 19px;
  /* position: relative; */
}

.test-dot::after {
  content: '';
  position: absolute;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="2" width="90" viewBox="0 0 100 2"><line x1="0" y1="1" x2="100" y2="1" stroke="%230094cb" stroke-width="2" stroke-dasharray="4" /></svg>');
  width: 100%;
  background-position: center;
  background-repeat: repeat-x;
  height: 2px;
  top: 30%;
  z-index: -1;
}




.test-year {
  font-family: "Inter";
  font-weight: 700;
  color: #0094CB;
  margin-top: 10px;
}

.test-desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-align: center;
}