@import url(./fonts.css);

:root {
  --font-main: "Montserrat";
  --font-second: "Inter";

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: none;
}

a:hover {
  text-decoration: none;
}

ol,
ul {
  padding-left: 0;
}

li {
  list-style: none;
}

body {
  font-family: var(--font-main);
  overflow-x: hidden !important;
  line-height: normal;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body::-webkit-scrollbar {
  width: 5px;
}


body::-webkit-scrollbar-thumb {
  background-color: #0094CB;
  border-radius: 6px;
}




.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  /* padding: 0 15px; */
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

/* ----- side bar ------- */
.sidebar-logo {
  height: 60px;
  width: 60px;
  object-fit: contain;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  padding: 35px 20px;
  /* width: 140px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  margin: 0 auto;
  z-index: 999;
}

.sidebar-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-icons img {
  background: #aaaaaa;
  border-radius: 71px;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  margin-bottom: 20px;
  transition: all 0.5s ease-out;
  color: white;
}

.sidebar-icons img:hover {
  transform: scale(1.2);
}

.header-nav {
  padding: 40px 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 18px;
  align-items: center;
  flex-wrap: wrap;
}

.header-title {
  font-size: 19px;
  font-weight: 400;
  color: #05071c;
  text-transform: uppercase;
}

.header-title span {
  font-weight: 700;
}

.header-title:hover {
  text-decoration: underline;
}

.header-link {
  font-size: 20px;
  color: #05071c;
  position: relative;
  text-transform: uppercase;
}

.header-link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  transition: 150ms;
  height: 2px;
}

.header-link:hover::after {
  background-color: #05071c;
}

.dropdown-center {
  width: 70px;
}

.dropdown-center button {
  font-family: "Montserrat";
  font-size: 20px;
  width: 70px !important;
}

.dropdown-center button:hover {
  color: #333;
  background-color: #e6e6e6;
}

.dropdown-menu {
  --bs-dropdown-min-width: 70px !important;
  text-align: center;
}


/* ----------- header banner ------- */

.header-banner {
  margin-top: 40px;
  display: flex;
}


.banner-left {
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid #c4c4c4;
  height: 700px;
  position: relative;
  overflow: hidden;
}

.left-animation {
  width: 1800px;
  height: 3000px;
  position: absolute;
  object-fit: contain;
  top: 50%;
  left: -50px;
  transform: translate(-50%, -50%);
}

.left-img {
  margin-bottom: 150px;
  height: 90px;
  max-width: 460px;
  object-fit: contain;
}

.banner-right {
  position: relative;
  color: white;
}

.right-content {
  position: absolute;
  width: 493px;
  left: 10 6px;
  bottom: 76px;
  color: #fff;
  padding: 30px 50px;
}

.right-title {
  font-size: 50px;
}

.right-desc {
  font-size: 20px;
  font-weight: 400;
  font-family: "Montserrat";
}

.right-desc span {
  font-weight: 700;
}

.right-video {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  height: 700px;
}

/* --------- history --------- */
.main-history {
  margin-top: 100px;
  position: relative;
}

.history-title {
  color: #0094cb;
  font-size: 40px;
  font-weight: 700;
}

.history-subtitle {
  color: #05071c;
  font-size: 24px;
  font-weight: 400;
  margin-top: 10px;
}

.history-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  min-height: 190px;
  height: 100%;
  border: 1px solid #dadada;
  padding: 40px;
  position: relative;
  border-radius: 0;
  background: white;
  z-index: 1;
}

.card-desc {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #090a0d;
}

.card-link {
  position: absolute;
  bottom: 10px;
  right: 10px;

}

/* -------- main-timeline -------- */
.main-timeline {
  margin-top: 130px;
  position: relative;
}

.main-timeline:after {
  content: '';
  background: url("../img/test-side.png") no-repeat;
  max-width: 1240px;
  width: 100%;
  height: 100%;
  height: 1575px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 750px;
  background-size: cover;
  background-position: center;
  pointer-events: none;

}

.timeline-svg {
  position: absolute;
  top: 0;
  right: 0;
  overflow-x: visible;
}

.timeline-after {
  max-width: 1050px;
  width: 100%;
}

.timeline-title {
  color: #0094cb;
  font-size: 40px;
  text-align: right;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
}

.timeline-subtitle {
  color: #090a0d;
  font-size: 24px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

.timeline-steps {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  margin-bottom: 80px;
}

.timeline-steps1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 70%;
  position: relative;
  margin-top: -15px;
  padding-top: 30px;
}

.timeline-steps1::after {
  content: '';
  position: absolute;
  bottom: 40px;
  left: 8px;
  background: url(../img/line-start.png) no-repeat;
  width: 100%;
  height: 100%;
}


.timeline-steps1 .timeline-step:nth-child(1) .dot::before {
  content: "";
  position: absolute;
  background: url(../img/line.png);
  top: calc(10% + 60px);
  right: 0;
  height: 2px;
  width: 200px;
  z-index: -1;
}




.timeline-line::after {
  content: '';
  position: absolute;
  bottom: -27px;
  left: 50%;
  background: url(../img/line.png) repeat-x;
  width: 85%;
  height: 2px;
  transform: translate(-50%, -50%);
}

.timeline-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.desc {
  font-size: 23px;
  line-height: 28px;
  font-family: "Inter";
  margin-bottom: 21px;
  text-align: center;
}

.dot {
  display: table;
  background-image: linear-gradient(171deg,
      #0094cb 0%,
      #4acf78 71%,
      #0094cb 100%);
  border-radius: 50%;
  width: 19px;
  height: 19px;
  /* position: relative; */
}

.dot::after {
  content: "";
  position: absolute;
  background: url(../img/line.png);
  top: calc(10% + 60px);
  height: 2px;
  width: 100%;
  z-index: -1;
}

.timeline-steps .timeline-step:nth-child(3) .dot::after {
  content: '';
  position: absolute;
  background: url(../img/line-end.png) no-repeat;
  top: calc(10% + 60px);
  /* left: 50%; */
  width: 60px;
  margin-left: 85px;
  height: 100%;
}

.timeline-step:nth-child(3) .dot::before {
  content: '';
  position: absolute;
  background: url(../img/line.png) repeat-x;
  top: calc(10% + 60px);
  right: 90px;
  width: 80px;
  margin-left: 180px;
  height: 2px;
  z-index: -1;
}

.year {
  font-family: "Inter";
  font-size: 24px;
  line-height: 29px;
  color: #0094cb;
  margin-top: 20px;
}

.info {
  font-family: "Inter";
  line-height: 24px;
  letter-spacing: -0.7%;
  color: #090a0d;
  text-align: center;
  margin-top: 10px;
  text-overflow: ellipsis;
  padding: 0 50px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
  overflow: hidden;
}



/* --------- chart ----------- */
.main-chart {
  position: relative;
  margin-top: 230px;
}

.main-chart::before {
  content: '';
  background: url("../img/chart-mobile.png") no-repeat;
  max-width: 1165px;
  width: 100%;
  height: 1166px;
  position: absolute;
  bottom: 0;
  left: 60%;
  transform: translateX(-50%);
  margin-left: -65%;
  background-size: contain;
  background-position: center;
  pointer-events: none;
  overflow: visible;
}

.chart-content {
  margin: 0 auto;
  padding-left: 150px;
  overflow-x: auto;
}



.chart-title {
  color: #0094cb;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-subtitle {
  align-items: center;
  margin-left: 50px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  text-align: right;
}

#myChart {
  margin-top: 80px;
  min-width: 700px;
  /* width: 100%; */
  height: 300px;
  margin-left: 180px;
}

.mobile-chart {
  display: none;
  width: 100%;
  padding-bottom: 50px;
  object-fit: cover;
}

.chart-apr {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 200px;
  justify-content: space-between;
  margin-top: 140px;
}

.apr-title {
  color: #0094cb;
  font-size: 40px;
  font-weight: 700;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}

.apr-title span {
  font-weight: 400;
  font-size: 24px;
  color: #090a0d;
}

.apr-steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  position: relative;
  margin-top: 100px;
}

.apr-steps::before {
  content: '';
  background: #52B8DE;
  position: absolute;
  height: 2px;
  width: 100%;
  top: -35px;
}

.step-li {
  position: relative;
  display: flex;
  flex-direction: column;
}

.step-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.step-li::after {
  content: '';
  position: absolute;
  background: url(../img/step_before.svg) no-repeat;
  height: 80px;
  width: 100%;
  top: -80px;
  left: -10px;
}

.step-title {
  color: white;
  font-size: 24px;
  line-height: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 41px;
  margin-bottom: 15px;
  background: linear-gradient(247deg, #0094cb 0%, #96dccb 100%);
  border-radius: 15px 0 0 15px;
}

.step-li span {
  float: right;
}

.step-right {
  height: 46px;
  width: 46px;
  object-fit: contain;
  margin: 16px 0;
}

.step-link {
  width: 46px;
  height: 46px;
}

.step-desc {
  font-size: 24px;
  line-height: 29px;
}

.step-img {
  width: 46px;
  height: 46px;
  margin-bottom: 14px;
}

/*-------- news ---------*/

.main-news {
  margin: 150px 0;
}

.news-title {
  font-size: 40px;
  color: #0094cb;
  font-weight: 700;
  margin-bottom: 50px;
  display: inline-block;
  position: relative;
}

.news-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #0094cb;
  transition: 200ms;
  left: 0;

}

.news-title:hover::after {
  background: transparent;
}

.news-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  overflow: hidden;
}

.news-card {
  border: 1px solid #E1E1E1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.news-img {
  width: 100%;
  position: relative;
  transition: 500ms;
}

.card-overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 80%;
  opacity: 0;
  transition: all 0.5s;
}

.news-card:hover .card-overlay {
  opacity: 1;
}

.news-card:hover .news-img {
  transform: scale(1.1);
}

.card-content {
  background-color: #fff;
  padding: 35px 30px;
  margin-top: -30px;
  z-index: 2;
  border-radius: 20px;
  max-height: 330px;
  position: relative;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-timeInfo {
  color: #7E7E7E;
  font-size: 37px;
  font-weight: 700;
  text-align: center;
  border: 3px solid #707070;
  max-width: 80px;
  width: 100%;
  padding: 10px;
  padding-top: 5px;
  min-height: 80px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
}

.card-timeInfo span {
  font-size: 20px;
  color: #05071c;
  text-transform: uppercase;
}

.card-tit {
  font-size: 16px;
  font-weight: 600;
  margin-left: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  color: #05071c;
}

.card-tit:hover {
  text-decoration: underline;
}

.card-descr {
  font-weight: 300;
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
  margin-top: 20px;
}

.card-extra {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.card-time {
  font-size: 20px;
}

.card-extraLink {
  border-bottom: 1px solid transparent;
  font-size: 18px;
  color: #0094CB;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin-bottom: 0;
  display: flex;
}


.card-extraLink:hover {
  border-bottom: 1px solid #0094CB;
}

/* -------- main - projects ----------- */
.main-projects {
  position: relative;
  /* background-image: url("../img/footer.png"); */
  background-size: cover;
  background-position: center;
  height: 900px;
  width: 100%;

}

.projects-img {
  height: 900px;
  width: 100%;
  position: absolute;
  z-index: 9;
}

.main-projects::after {
  content: '';
  background: url(../img/dg.png) no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  gap: 190px;
}


.project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-info:nth-child(3) {
  margin-left: 50px;
}

.info-number {
  color: #0094cb;
  font-size: 69px;
  font-weight: 700;
}

.info-span {
  font-size: 19px;
  color: #0094cb;
  font-weight: 400;
}

/* ------------ footer ----------- */
.footer {
  text-align: center;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
}


.footer-title {
  color: #05071C;
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.footer-title span {
  font-weight: 700;
}

.footer-title:hover {
  text-decoration: underline;
}

.footer-imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: 0 auto 30px auto;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
}

.footer-imgs a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-img {
  object-fit: contain;
  max-width: 270px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.footer-img:hover {
  transform: scale(1.1);
}

.footer-copy {
  font-size: 20px;
  text-align: center;
  color: #0C0C0C;
  text-align: center;
}

.footer-desc {
  margin-top: 30px;
  font-size: 16px;
  color: #0C0C0C;
  text-align: center;
  padding-bottom: 30px;
}


/* ------ mobile -step ----- */
.timeline-mobile {
  flex-direction: column;
  align-items: center;
  display: none;
  position: relative;
}

.timeline-mobile img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

/* .timeline-mobile::after {
  content: '';
  background: url(../img/timeline-mobile.png) no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.mobile-steps {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  max-width: calc(100% - 40px);
  margin-bottom: 20px;
  position: relative;
}


.mobile-step {
  display: flex;
  flex: 0 0 auto;
  width: 33%;
  margin-right: 20px;
  flex-direction: column;
  align-items: center;
}


.mobile-desc {
  font-size: 23px;
  line-height: 28px;
  font-family: "Inter";
  margin-bottom: 21px;
  text-align: center;
}

.mobile-dot {
  display: table;
  background-image: linear-gradient(171deg,
      #0094cb 0%,
      #4acf78 71%,
      #0094cb 100%);
  border-radius: 50%;
  width: 19px;
  height: 19px;
  position: relative;
}

.mobile-year {
  font-family: "Inter";
  font-size: 24px;
  line-height: 29px;
  color: #0094cb;
  margin-top: 20px;
  font-weight: 700;
}

.mobile-info {
  font-family: "Inter";
  line-height: 24px;
  letter-spacing: -0.7%;
  color: #090a0d;
  text-align: center;
  margin-top: 10px;
  text-overflow: ellipsis;
  padding: 0 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: center;
}

.mobile-dot::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  background: url(../img/line.png) repeat-x;
  height: 2px;
  width: 300px;
  z-index: -1;
}

/* mobile header */
.header-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  display: none;
  position: relative;
  z-index: 101;
}

.header-mobile div {
  display: flex;
  align-items: center;
}

.mobile-title {
  font-size: 19px;
  font-weight: 400;
  margin-left: 15px;
  text-transform: uppercase;
}

.mobile-title span {
  font-weight: 700;
}

.header-mobile button {
  border: none;
  background: #0094cb;
  margin-right: 20px;
  padding: 15px;
  border-radius: 8px;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-banner {
  position: relative;
  overflow: hidden;
  margin-top: 15px;
  display: none;
}

.mobile-img {
  width: 100%;
  object-fit: contain;
}

.mobile-content {
  position: absolute;
  bottom: 0px;
  left: 0;
  color: white;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
  padding: 20px;
  overflow: hidden;
}

.mobile-tit {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 10px;
}

.mobile-desc {
  font-size: 20px;
  text-align: center;
}

.mobile-desc i {
  font-weight: 700;
  font-style: normal;
}

.menu-container {
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  /* Initially hidden width */
  height: 100vh;
  background: white;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}

.menu-container.active {
  width: 100%;
}


.mobmenu-btn img {
  width: 16px;
}


.lang-btns {
  display: flex;
  gap: 25px;
  padding: 100px 10px 0 10px;
}

.lang-btn {
  color: #0094cb;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  border: 1px solid #DADADA;
  border-radius: 6px;
  background: transparent;
  padding: 7px 15px;
}

.lang-btn-active {
  background: #0094CB;
  color: white;
  border: 1px solid #0094cb;

}

.mobile-links li {
  position: relative;
  padding: 25px 10px 0 10px;

}

.mobile-link:hover {
  text-decoration: underline;
}

.mobile-link {
  color: #1E293B;
  font-size: 22px;
  font-weight: 600;
  position: relative;
}

.mobile-links li::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #DADADA;
}

.mobile-icons {
  display: inline-block;
  padding: 30px 10px 0 10px;
}

.mobile-icons a {
  background: var(--liner, linear-gradient(90deg, #0094CB -19.55%, #96DCCB 100%));
  line-height: 40px;
  height: 40px;
  border-radius: 50%;
  width: 40px;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  transition: all linear 0.2s;
}


.footer {
  position: relative;
}


.main-projects::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  width: 100vw;
  background-position: center;
  height: 900px;
  pointer-events: none;
}

.header-nav,
.header-banner,
.main-history,
.main-timeline,
.main-chart,
.main-news {
  margin-left: 40px;
}